# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore log files
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment-specific files
.env

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# My config file
variables.py

# DB Process file
metar_db.py